Source: unity-voice
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Pete Woods <pete.woods@canonical.com>
Build-Depends: cmake,
               debhelper (>= 9),
               gettext,
               google-mock (>= 1.6.0+svn437),
               libpocketsphinx-dev (>= 0.8),
               libqtdbustest1-dev,
               libsphinxbase-dev (>= 0.8),
               pkg-config,
               pulseaudio,
               qtbase5-dev,
               sphinx-voxforge-hmm-en,
               sphinx-voxforge-lm-en,
               valgrind,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/unity-voice
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:unity-voice

Package: libunityvoice1-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libunityvoice1 (= ${binary:Version}),
         ${misc:Depends},
Description: client library for Unity voice service
 This package contains files that are needed to build applications.

Package: libunityvoice1
Section: libs
Architecture: any
Multi-Arch: same
Depends: unity-voice-service (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: ${misc:Pre-Depends},
Description: client library for Unity voice service
 This package contains shared libraries to be used by applications.

Package: unity-voice-service
Architecture: any
Multi-Arch: same
Depends: sphinx-voxforge-hmm-en,
         sphinx-voxforge-lm-en,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Voice recognition service for unity
 This projects contains a DBus service that performs voice
 recognition.

Package: unity-voice-autopilot
Architecture: all
Depends: unity-voice-service (>= ${binary:Version}),
         python-autopilot,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Voice recognition autopilot tests
 This package contains all the autopilot integration tests for testing the
 unity-voice functionality.
